:root{
    --primary-color: #ff7833;
    --secondary-color: #31333b;
    --secondary-color-lite: #444856;
    --secondary-color-dark: #23252d;
}

html{ /*o font-size tem que estar no html se nao os calculos mudam*/
    font-size: 62.5%;
}

body{
    display: flex;
    margin: 0;
    color: #e7e7e7;
    background-color: #ccc;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    min-height: 100vh;
    line-height: 1.7;
    background-image: url(../imagens/bg-unsplash.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

h1{
    font-size: 4rem;
    color: #a9a7a7;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

h2, h3, h4, h5, h6 {
    color: var(--primary-color);
    margin: 0;
}

h2{
    margin-top: 1rem;

}

p{
    font-size: 1.8rem;
}

address p{
    display: flex;
    flex-direction: row;
    gap: 5rem;
}

.icones{
    text-decoration: none;
}

.icones:hover{
    color: var(--primary-color);
}

.hightlight{

    border-left: 1px solid var(--primary-color);
    font-size: 1.1em;
    padding: 0 0 0 2em;
    margin-bottom: 2.2em;
}

article{
    padding-top: 1em;
    padding-bottom: 1em;
}

section{
    margin-bottom: 3rem;
}


.underline{
    text-decoration:red wavy underline;
}
.main-header{
    flex: 0 0 26rem; /*a funcao flex é uma abreviacao de flex grow(aumente) depois flex wring (diminua) e por ultimo flex basis (largura)*/
    background-color:rgba(49, 51, 59, .8);
    
}

.main{
    background-color: rgba(68, 72, 86, .6);
    flex: 1 0;
    padding: 6.5rem 6rem 100vh; /*cima esquerda baixo e direita*/
}

a {
    color: inherit;
}

.main, .main-header{
    font-size: 1.6rem;
}

.perfil-img{
    max-width: 10rem;
    border-radius: 15rem;
}

.main-nav{
    text-align: right; 
    padding: 6.5rem 2.4rem 2.4rem;
    position: sticky;
    top: 0;
    left: 0;
}


.main-nav ul {
    list-style-type: none;
    padding: 0;
    
}

.main-nav ul a{
    display: block;
    padding: 1.2rem 0;
    text-decoration: none;
    
}

.main-nav ul a:hover, .main-nav ul a:focus{
    background-color: var(--secondary-color-lite) ;
    padding-right: 1rem;
    transition: all;
    transition-duration: .2s;
    transition-timing-function: linear;
}

.main-nav li {
    border-bottom: 1px solid #7b7b7b;
    padding: .4rem 0;
}

.card{
    max-width: 740px;
    background-color: var(--secondary-color);
    padding: 0;
}

.card_content {
    padding: .5em 1em 1em 1em;
}

.card_content p, .card_title{
    margin: 0
}

.card_title{
    font-size: 1.75em;
}

.card img{
    max-width: 100%;
    min-width: 100%;
}

.row{
    display: flex;
    gap: 1.5em;
    padding-top: 1.5rem;
    justify-content: space-between;
}

.row .row{
    padding-top: 0;
}

.row > *{
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0%;
    /*o atalho seria flex: 1 0 0%;*/
}

section{
    padding-top: 2em;
}

.alternate {
    list-style-type: none;
    padding-left: 0;

}

.alternate li{
    padding: 0;
}

.alternate li:not(:last-child){
    border-bottom: 2px solid;
}

.roman{
    list-style-type: lower-roman;
}

.list-emoji{
    list-style-type: "\1F602";
}


input, label, textarea, select{
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
}

input[type="radio"], input[type="checkbox"] {
    width: auto;
    margin: 0;
}

input, textarea, select{
    background-color: #ccc;
    padding: 1.2rem;
    border-radius: 5px;
    margin-bottom: 1.6rem;
    border: 0;
}

.btn {
    background-color: var(--secondary-color);
    color: white;
    border: 2px solid var(--secondary-color-dark);
    font-size: 1.5rem;
    cursor: pointer;
    padding: 1em 1.2em;
    border-radius: 5px;
}

.btn:not(.btn-full) + .btn{ /*aqui eu selecionei todos os btn que vem depois do btn*/
    margin-left: 2rem;
}

.btn-stroke{
    background-color: transparent;
}

.btn-big{
    font-size: 1.7rem;
}

.btn-full {
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    margin-top: 2rem;
}

.btn:hover, .btn:focus {
    background-color: var(--secondary-color-dark);
}

.form-quiz{
    width: 50%;
}
input[type="reset"]{
    background-color: #e0dede;
    cursor: pointer;
}
input[type="reset"]:hover{
    background-color: #ccc;
}
input[type="reset"]:active{
    background-color: #bbbaba;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table td:last-child, .table th:last-child{
    text-align: right;
}

.table:not(.table-alternate) td{
    border-bottom: 2px solid var(--secondary-color-dark);
}

.table td, table th{
    padding: 1.6rem;
}
.table th{
    text-transform: uppercase;
    text-align: left;
    border-bottom: 2px solid var(--secondary-color-dark);
}

.table-alternate tbody tr:nth-child(odd) td{
    background-color: var(--secondary-color);
}

.table-vertical-lines td:not(:last-child), .table-vertical-lines th:not(:last-child){
    border-right: 2px solid var(--secondary-color-dark);
}